# Environment
.env
.venv
venv
env
__pycache__
*.pyc

# Dependencies
node_modules
dist
build

# Git
.git
.github
.gitignore

# Project specific
backend/dev_database.db
backend/ecosync.db
backend/venv
backend/__pycache__
*.log
.pio
.vscode
